body {
  text-align: center;
  /* background: linear-gradient(125deg, #FEB696, #FEB693, ); */
  /* background: gray; */
}

.card #prod {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 320px;
  /* text-align: left; */
  font-size: 15%;
  margin: 5px;
  /* text-align: left; */
  width: 300px;
  height: 380px;
  text-align: center;
  font-size: 5px;
  border-radius: 5px;
  /* left: 3rem; */

}

.card #HPD{
  margin: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  width: 100%;
}

.card-body {
  width: 280px;

}


.card{
max-width: 300px;
}

img {
  position: relative;
  margin-top: 10px;
  /* left: 48px; */



}

.btn {
  margin: 5px;
  text-align: left;
}

.text {
  text-align: right;
  padding: 20px;

}

.bottn {
  position: relative;
  right: 20%;
}

.C {
  left: 10rem;
}

.BOT{
  width: 100px;
  text-align: center;
  margin-right: 10px;
}

/* h4 {
  position: relative;
  width: 400px;
  height: 200px;
  background: black;
  
  border: 3px solid #ffffff;
}

h4 {
  text-align :center;
  position: absolute;
  top: 250px;
  right: 20px;
  width: 200px;
  height: 100px;
  border: 3px solid #ffffff;
} */